<section id="contact" class="min-h-screen flex items-center justify-center bg-black py-12 px-4">
  <div
    class="w-full max-w-2xl bg-cyan-950 bg-opacity-10 backdrop-blur-md rounded-xl shadow-lg p-8 text-white border border-cyan-600 transition-all duration-500 ease-in-out"
  >
    <h2 class="text-3xl font-bold text-center mb-6 text-white-400">{{ formSubmitted ? contactObj.thankyouTitle : contactObj.title}}</h2>

    <!-- Contact Form -->
    <form
      *ngIf="!formSubmitted"
      #contactForm="ngForm"
      (ngSubmit)="sendEmail(contactForm)"
      class="space-y-6 transition-opacity duration-500 ease-in-out"
      [ngClass]="{ 'opacity-0 pointer-events-none scale-95': formSubmitted, 'opacity-100': !formSubmitted }"
    >
      <!-- Name -->
      <div>
        <label class="block mb-2 text-white-300">{{contactObj.form.name}}</label>
        <input name="user_name" required ngModel [placeholder]="contactObj.form.namePlaceholder"
          class="w-full px-4 py-3 rounded-md bg-cyan-900 bg-opacity-20 backdrop-blur-lg text-white placeholder-cyan-200 focus:outline-none focus:ring-2 focus:ring-cyan-500 transition" />
      </div>

      <!-- Email -->
      <div>
        <label class="block mb-2 text-white-300">{{contactObj.form.email}}</label>
        <input name="user_email" type="email" required ngModel [placeholder]="contactObj.form.emailPlaceholder"
          class="w-full px-4 py-3 rounded-md bg-cyan-900 bg-opacity-20 backdrop-blur-lg text-white placeholder-cyan-200 focus:outline-none focus:ring-2 focus:ring-cyan-500 transition" />
      </div>

      <!-- Message -->
      <div>
        <label class="block mb-2 text-white-300">{{contactObj.form.message}}</label>
        <textarea name="message" rows="4" required ngModel [placeholder]="contactObj.form.messagePlaceholder"
          class="w-full px-4 py-3 rounded-md bg-cyan-900 bg-opacity-20 backdrop-blur-lg text-white placeholder-cyan-200 focus:outline-none focus:ring-2 focus:ring-cyan-500 transition"></textarea>
      </div>

      <!-- Submit -->
      <div class="text-center">
        <button type="submit"
          class="bg-gradient-to-r from-cyan-500 to-purple-600 hover:from-purple-600 hover:to-cyan-500 text-white px-6 py-3 rounded-md font-semibold shadow-md transition duration-300">
          {{contactObj.submitButton}}
        </button>
      </div>
    </form>
    <!-- Thank You Card -->
    <div *ngIf="formSubmitted" class="flex flex-col items-center justify-center h-full text-center animate-fade-in">
      <p class="text-cyan-100">{{contactObj.successMessage}}</p>
      <p class="text-cyan-200 mt-2 text-sm">{{contactObj.thankYouMessage}}</p>
    </div>
  </div>
</section>